<header id="main-menu">    
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo" href="#">Restion - A REST Client</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right">
              <li><a href="#file"      ng-click="onClickNav()" class="active">File</a></li>
              <li><a href="#auth"      ng-click="onClickNav()">Authentication</a></li>
              <li><a href="#headers"   ng-click="onClickNav()">Headers</a></li>
              <li><a href="#view"      ng-click="onClickNav()">View</a></li>
              <li><a href="#favourite" ng-click="onClickNav()">Favourite Requests</a></li>
              <li><a href="#settings"  ng-click="onClickNav()">Settings</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>           
</header>  